.parallax-container {
  /*margin-top: 100px;*/
}
#padding {
  height: 100px;
}
p {
  line-height: 2rem;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  .waves-effect.waves-brown .waves-ripple {
    background-color: rgb(254, 147, 8, 0.65);
  }

.btn {
  border: 1px solid #fe9308;
  margin-top: 25px;
}
nav {
  background-color: #434554;
}
.navbar-material .nav-wrapper .brand-logo img {
    height: 64px;
}

footer.page-footer {
  background-color: #f1f0ee;
  /*border: 3px solid #4e5162;*/
}
@media only screen and (max-width : 1076px) {
  #parallax-2 {
      height: 550px;
    }
}
@media only screen and (max-width : 1076px) {
  #parallax-2 {
      height: 700px;
    }
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }
  #index-banner .section {
    top: 5%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #parallax-2 {
      height: 800px;
    }
}
@media only screen and (max-width : 476px) {
  #parallax-2 {
      height: 1420px;
    }
}
.parallax-container {
    height: 480px;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}
#inner-trasparent {
  background-color: rgba(85, 85, 85, 0.5);
  padding: 25px;
  width: 100%;
}
#left-border {
  border-left: 1px solid #fe9308;
  padding-left: 15px;
}
.circle {
  border: 1px solid #fe9308;
  border-radius: 50%;
}
#header {
  padding-bottom: 3px;
}
h1, h2, h3,
h4, h5 , h6 {
  text-transform: capitalize;
}
#nopdbtm {
  margin-bottom: 3px;
}
.orange-text {
  color:  #fe9308;
}
li. {
  color: black;
}
a:hover {
  color: #fe9308;
  text-decoration-color: #fe9308;
  text-decoration: underline;
  font-weight: bolder;
}
